@import '/styles/global-styles/media-breakpoint';

.medium {
  display: flex;
  width: 7.7rem;
  height: 2.75rem;
  flex-shrink: 0;

  @include tablet {
    width: 9.5rem;
    height: 3.3929rem;
  }

  @include desktop {
    width: 12.7rem;
    height: 4.5357rem;
  }
}

.large {
  width: 23.6rem;
  height: 8.4286rem;
  flex-shrink: 0;

  // 그냥 넣어봤어여... 구리면 빼도 됨
  @keyframes scaleLogo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  animation: scaleLogo 2s infinite;
  transform-origin: center;
}

.small {
  width: 7.7rem;
  height: 2.75rem;
  flex-shrink: 0;
}
