@import '/styles/global-styles/index';

.wrappper {
  width: 100%;
}

.tabs {
  // width: 100%;

  @include flex-row-center;
  align-items: flex-start;
  gap: 1.6rem;
}
.post-list {
  display: flex;
  justify-content: center;
  // padding: 0 2.28rem;
}
