@import '/styles/global-styles/index';

// .user-profile {
//   display: flex;
//   width: 90rem;
//   padding: 5rem 0rem;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 1.1875rem;
// }

.taps {
  display: flex;
  //   width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.post-list {
  padding: 0 2.28rem;
}
