@import '/styles/global-styles/index';

.wrappper {
  @include tablet {
    padding: 0rem 1.23425rem 0rem 1.25rem;
  }
}

.tabs {
  width: 100%;

  @include flex-row-center;
  align-items: flex-start;
  gap: 1rem;
}
.post-list {
  display: flex;
  justify-content: center;
  padding: 0 2.28rem;
}
