@import '/styles/global-styles/index';

.wrappper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-list {
  display: flex;
  justify-content: center;
  // padding: 0 2.28rem;
}

.back-to-top {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
}
