@import '@styles/global-styles/index';

.signin {
  @include flex-column-center;
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 1;
  gap: 6rem;

  @include tablet-and-desktop {
    gap: 12rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.title {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%;

  @include tablet {
    font-size: 1.7rem;
  }

  @include desktop {
    font-size: 1.8rem;
  }
}

.title-gray {
  @extend .title;
  color: $BDS-Grayscale-8;
  font-size: 1.4rem;

  .underline {
    text-decoration: underline;
  }
}

.buttons {
  @include flex-column;
  gap: 2rem;
}
.content {
  display: flex;
  gap: 1.5rem;
}
