.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3rem;
}

.logo {
  width: 236px;
  height: 108px;

  margin-bottom: 12rem;
}

.title {
  color: var(--BDS-Grayscale-13);
  font-feature-settings: 'ss10' on;

  /* BDS/Label 1/Normal */
  font-family: 'IBM Plex Sans KR';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */
}

.title-gray {
  @extend .title;
  color: var(--BDS-Grayscale-8);

  .underline {
    text-decoration: underline;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}
.content {
  display: flex;
  gap: 1.5rem;
}
