@import '@styles/global-styles/index';

.signin {
  @include flex-column;
  align-items: center;
  padding: 8rem 3rem;
}

// .logo {
//   width: 23.6rem;
//   height: 10.8rem;
//   margin-bottom: 12rem;
// }

.title {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%;

  @include tablet {
    font-size: 1.7rem;
  }

  @include desktop {
    font-size: 1.8rem;
  }
}

.title-gray {
  @extend .title;
  color: $BDS-Grayscale-8;
  font-size: 1.4rem;

  .underline {
    text-decoration: underline;
  }
}

.buttons {
  @include flex-column;
  gap: 2rem;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}
.content {
  display: flex;
  gap: 1.5rem;
}
