@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.profile-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-image-wrapper {
  position: relative;
  border-radius: 41px;
  overflow: hidden;
  width: 4.2rem;
  height: 4.2rem;

  &.large {
    width: 5.6rem;
    height: 5.6rem;
  }
}

.profile-nickname {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */

  &.large {
    font-size: 1.6rem;
  }
}

.like-container {
  display: flex;
  align-items: center;
}

.like-count {
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */
  background: $BDS-Primary-5;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.large {
    font-size: 1.6rem;
  }
}
