@import 'styles/global-styles/index';

//변수적용이 안되는중 ㅠ 억까하지마라 진짜
.container {
  width: 30rem;
  max-width: 30rem;

  .input-container {
    display: flex;

    height: 6rem;
    padding: 1.2rem 2rem 1.2rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    flex-shrink: 0;

    border-bottom: 1.6px solid var(--BDS-Grayscale-6, #bfbfbf);
    background: var(--BDS-Grayscale-1, #fff);

    input {
      border: none;
      width: 100%;

      &:focus {
        border: none;

        border-bottom: 2.4px solid var(--BDS-Primary-3, #ffc7a6);
        background: var(--BDS-Grayscale-1, #fff);
      }
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
      flex-shrink: 0;
      stroke-width: 2.4px;
      stroke: var(--BDS-Primary-5, #ff9456);
    }
  }

  ul {
    // z-index: $above + $z-index-root;
    // position: absolute;
    background-color: whitesmoke;
    width: inherit;
    cursor: pointer;
    border-radius: 1%;

    li {
      display: flex;
      padding: 1.2rem 2rem 1.2rem 1.6rem;
      align-items: flex-start;
      gap: 1rem;

      &:hover {
        border-bottom: 1px solid var(--BDS-Grayscale-5, #d9d9d9);
        background: var(--BDS-Primary-1, linear-gradient(90deg, #fff2ea 0%, #fff0f8 100%));
      }
    }
  }
}
