@import '/styles/global-styles/index';

.input {
  @include flex-column;

  gap: 1.2rem;
  font-feature-settings: 'ss10' on;

  // margin-bottom: 3.2rem;
}

.label {
  display: flex;
  align-items: start;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  &-name {
    width: fit-content;
    color: $BDS-Grayscale-13;
  }
  &-required {
    color: $BDS-System-Error;
  }
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field {
  display: flex;
  // width: 21.6rem;
  width: 33.1rem;

  padding: 1.2rem 2rem 1.2rem 1.6rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-width: 0 0 1.6px 0;
  border-color: $BDS-Grayscale-6;
  background: $BDS-Grayscale-1;
  color: $BDS-Grayscale-13;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 146%;

  &:focus {
    outline: none;
    // TODO: border-width가 커지면 아래 있는 input창이 살짝씩 밀리는게 너무 거슬림...
    border-width: 0 0 2.4px 0;
    border-image: $BDS-Primary-3;
    border-image-slice: 1;
  }
}

.max-length {
  position: absolute;
  // left: -4.5rem;
  right: 2rem;
  color: $BDS-Grayscale-8;
  text-align: center;

  font-size: 12px;
  font-weight: 400;
  line-height: 133%; /* 15.96px */
}

.input-and-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.double-check {
  display: flex;
  padding: 0 1.6rem;
  justify-content: space-between;
  align-items: center;
  // gap: 1.2rem;
  align-self: stretch;

  &-button {
    color: $BDS-Grayscale-7;
    // color: $BDS-Grayscale-5; success시 5가 됨
    text-align: center;

    font-size: 13px;

    font-weight: 500;
    line-height: 138%; /* 17.94px */
  }
}

.message {
  text-align: center;

  font-size: 1.2rem;

  font-weight: 400;
  line-height: 133%; /* 15.96px */
}

.error-text {
  color: $BDS-System-Error;
}
.error-input {
  border-color: $BDS-System-Error;
}
.success {
  color: $BDS-System-Success;
  border-color: $BDS-System-Success;
}
