@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.read-header {
  .time-blob-and-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.time-blob {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .name-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .mention {
    color: var(--BDS-Grayscale-13, #000);
    text-align: center;
    font-feature-settings: 'ss10' on;

    /* BDS/Headline 2 */
    font-family: 'IBM Plex Sans KR';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 141%; /* 23.97px */
  }
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: $BDS-Grayscale-1;
}

.like-mention-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.4rem;

  .like-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mention {
    color: var(--BDS-Grayscale-13, #000);

    /* BDS/Headline 1 */
    font-family: 'IBM Plex Sans KR';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 144%; /* 25.92px */
    letter-spacing: -0.004px;
  }
}

.delete-mention {
  color: var(--BDS-Grayscale-13, var(--BDS-Grayscale-13, #000));
  font-feature-settings: 'ss10' on;

  /* BDS/Body 1/Normal */
  font-family: 'IBM Plex Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

// 961px 부터 화면 width의 90%가 모달폭
@include tablet {
  .read-modal {
    width: 90%;
    height: 90vh;
    display: flex;
  }
}
