@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.profile-and-kebab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  align-self: stretch;
  margin-bottom: 2.4rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  align-self: stretch;
}

.title-and-distance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;

  .title {
    color: $BDS-Grayscale-13;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 144.5%; /* 26.01px */
    letter-spacing: -0.0004rem;
  }

  .distance {
    display: flex;
    gap: 0.8rem;
    color: $BDS-System-Complete;
    font-feature-settings: 'ss10' on;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142.9%; /* 20.006px */
  }
}

.content {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.5rem;
  line-height: 160%; /* 24px */
  margin-bottom: 2rem;
}

.time-and-city {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.4rem;

  .time-ago {
    color: $BDS-Grayscale-7;
    font-feature-settings: 'ss10' on;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142.9%; /* 20.006px */
  }

  .city {
    color: $BDS-Grayscale-7;
    font-feature-settings: 'ss10' on;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142%; /* 19.88px */
  }
}

.content-info {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.4rem 1.2rem;
  align-self: stretch;
  flex-wrap: wrap;
  color: $BDS-Grayscale-7;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */
  margin-bottom: 1.6rem;

  .alert {
    color: $BDS-Grayscale-7;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142%; /* 19.88px */
  }
}

.comment-line {
  display: inline-block;
  color: $BDS-Grayscale-8;
  font-feature-settings: 'ss10' on;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 146%; /* 21.9px */
  display: flex;
  padding-bottom: 1.2rem;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid $BDS-Grayscale-6;
}

.image-list-container {
  display: flex;
  gap: 1.2rem;
  overflow: auto;
}

.image-container {
  position: relative;
  flex-shrink: 0;
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  overflow: hidden;
}

@include tablet {
  .main-container {
    width: 57.9rem;
    flex-shrink: 0;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;

    &.feed {
      overflow: visible;
      max-height: 100%;
    }
  }
}

// .image-modal {
//   position: fixed;
//   inset: 0;
//   background: rgba(0, 0, 0, 0.5);
//   z-index: 1;
// }
