@import '/styles/global-styles/index';

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 31.5rem;
  position: relative;
  transition: 0.3s;

  &.category-list-clicked {
    margin-bottom: 7.6rem;
    transition: 0.3s;
  }
}

.sub-category-list {
  position: absolute;
  top: 11rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
