@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/index';

.background {
  @include flex-center;

  min-width: 9.3rem;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  border-radius: 24px;
  background: $BDS-Grayscale-1;

  &.filtering-type {
    &-map {
      height: 4rem;
      border: 1px solid transparent;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    }

    &-writing,
    &-feed {
      height: 3.8rem;
      border: 1px solid $BDS-Grayscale-5;
    }
  }

  &.button-clicked-color {
    &-추천 {
      border: 1px solid $BDS-Category-recommend_press;
    }

    &-비추천 {
      border: 1px solid $BDS-Category-cation_press;
    }

    &-질문 {
      border: 1px solid $BDS-Category-tip_press;
    }

    &-주의 {
      border: 1px solid $BDS-Category-question_press;
    }

    &-도움요청 {
      border: 1px solid $BDS-Category-help_press;
    }
  }
}

.svg-box {
  @include flex-center;
}

.title {
  color: $BDS-Grayscale-13;
  text-align: center;
  font-feature-settings: 'ss10' on;
  font-family: 'IBM Plex Sans KR';

  &.filtering-type {
    &-map {
      font-size: 1.6rem;
      font-weight: 500;
      padding-left: 0.4rem;
    }

    &-writing,
    &-feed {
      font-size: 1.5rem;
      font-weight: 400;
      padding: 0 0.4rem;
    }
  }

  &.button-clicked-color {
    &-추천 {
      color: $BDS-Category-recommend_press;
    }

    &-비추천 {
      color: $BDS-Category-cation_press;
    }

    &-질문 {
      color: $BDS-Category-tip_press;
    }

    &-주의 {
      color: $BDS-Category-question_press;
    }

    &-도움요청 {
      color: $BDS-Category-help_press;
    }
  }
}

.svg {
  width: 1.6rem;
  height: 1.6rem;
}

.chevron-right-icon {
  transition: transform 0.2s ease-in-out;

  &.rotate {
    transform: rotate(90deg);
  }

  &.filtering-type {
    &-map {
      width: 2.4rem;
      height: 2.4rem;
    }

    &-writing,
    &-feed {
      width: 1.6rem;
      height: 1.6rem;

      path {
        stroke-width: 3.2;
      }
    }
  }

  &.button-clicked-color {
    &-추천 path {
      stroke: $BDS-Category-recommend_press;
    }

    &-비추천 path {
      stroke: $BDS-Category-cation_press;
    }

    &-질문 path {
      stroke: $BDS-Category-tip_press;
    }

    &-주의 path {
      stroke: $BDS-Category-question_press;
    }

    &-도움요청 path {
      stroke: $BDS-Category-help_press;
    }
  }
}
