@import '/styles/global-styles/color-pallete';

.background {
  padding: 0.4rem 1.2rem;

  border-radius: 24px;
  background: $BDS-Grayscale-1;

  &.filtering-type {
    &-map {
      height: 2.8rem;
    }

    &-writing,
    &-feed {
      height: 2.4rem;
    }
  }

  &.button-clicked-color {
    &-추천 {
      background-color: $BDS-Category-recommend_press;
    }

    &-비추천 {
      background: $BDS-Category-cation_press;
    }

    &-질문 {
      background: $BDS-Category-tip_press;
    }

    &-주의 {
      background: $BDS-Category-question_press;
    }

    &-도움요청 {
      background: $BDS-Category-help_press;
    }
  }

  &.category-color {
    &-추천 {
      border: 1px solid $BDS-Category-recommend_press;
    }

    &-비추천 {
      border: 1px solid $BDS-Category-cation_press;
    }

    &-질문 {
      border: 1px solid $BDS-Category-tip_press;
    }

    &-주의 {
      border: 1px solid $BDS-Category-question_press;
    }

    &-도움요청 {
      border: 1px solid $BDS-Category-help_press;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
  font-feature-settings: 'ss10' on;

  &.filtering-type {
    &-map {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 142%; /* 19.88px */
    }

    &-writing,
    &-feed {
      font-family: 'IBM Plex Sans';
      font-size: 1.2rem;
      line-height: 133%; /* 15.96px */
      color: $BDS-Grayscale-13 !important;
    }
  }

  &.button-clicked {
    color: $BDS-Grayscale-1 !important;
  }

  &.category-color {
    &-추천 {
      color: $BDS-Category-recommend_press;
    }

    &-비추천 {
      color: $BDS-Category-cation_press;
    }

    &-질문 {
      color: $BDS-Category-tip_press;
    }

    &-주의 {
      color: $BDS-Category-question_press;
    }

    &-도움요청 {
      color: $BDS-Category-help_press;
    }
  }
}
