@import '/styles/global-styles/index';

.profile-image {
  position: relative;
  border-radius: 20rem;
  overflow: hidden;
  cursor: pointer;
}

.xsmall {
  width: 2.4rem;
  height: 2.4rem;
}

.small {
  width: 4.1rem;
  height: 4.1rem;
}

.medium {
  width: 18rem;
  height: 18rem;
}

.large {
  width: 20rem;
  height: 20rem;
}
