@import '/styles/global-styles/index';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 2rem;
  font-weight: 600;
  line-height: 140%; /* 28px */
}

.close {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
