@import '/styles/global-styles/index';

.container {
  @include flex-center;

  width: 100%;
  padding: 5rem 0rem;
  flex-direction: column;
  gap: 1.1875rem;
}

.user {
  &-detail,
  &-nickname-section {
    @include flex-center;
  }

  &-detail {
    flex-direction: column;
    gap: 1rem;
  }

  &-nickname-section {
    gap: 0.5rem;
  }

  &-count-section {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
}

.liked-count {
  &-wrapper {
    @include flex-center;
    gap: 0.125rem;
  }
  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@mixin font {
  font-feature-settings: 'ss10' on;
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
}

.text {
  &-black {
    @include font;
    color: $BDS-Grayscale-13;
  }

  &-colored {
    @include font;
    font-size: 1.0625rem;
    line-height: 141%;

    background: $BDS-Primary-5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.large {
  font-size: 1.125rem;
  line-height: 144%; /* 1.62rem */
  letter-spacing: -0.00025rem;
}

.middle {
  font-size: 1rem;
  line-height: 150%; /* 1.5rem */
}

.small {
  font-size: 0.9375rem;
  line-height: 160%; /* 1.5rem */
}

.x-small {
  font-size: 0.875rem;
  line-height: 142%; /* 1.2425rem */
}

.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
