@import '/styles/global-styles/color-pallete';

.comment-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.profile-and-kebab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  align-self: stretch;
}

.content-like-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  line-height: 160%; /* 24px */
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.5rem;
  line-height: 160%; /* 24px */
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.comment-information-container {
  display: flex;
  align-items: flex-start;
  gap: 1.74rem;
  color: $BDS-Grayscale-7;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */
  margin-bottom: 1.6rem;

  .alert {
    color: $BDS-Grayscale-7;
    font-feature-settings: 'ss10' on;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142%; /* 19.88px */
  }
}

.create-reply {
  color: $BDS-Grayscale-7;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142%; /* 19.88px */
}

.see-reply {
  display: flex;
  align-items: center;
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142%; /* 19.88px */

  .line {
    width: 44px;
    height: 1px;
    background: $BDS-Grayscale-13;
    margin-right: 0.8rem;
  }
}

.see-more-reply {
  display: flex;
  align-items: center;
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142%; /* 19.88px */
  margin-left: 4rem;
  margin-top: 2.4rem;

  .line {
    width: 44px;
    height: 1px;
    background: $BDS-Grayscale-13;
    margin-right: 0.8rem;
  }
}
