@import '/styles/global-styles/index';

.container {
  display: flex;
  height: 26rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // gap: 1.2rem;
  align-self: stretch;

  overflow-y: scroll;
}

.empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 40%;

  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;

  font-size: 1.3rem;
  font-weight: 500;
  line-height: 138%; /* 17.94px */
}
