@import '/styles/global-styles/index';

.container {
  display: flex;
  height: 26rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // gap: 1.2rem;
  align-self: stretch;

  overflow-y: scroll;
}
