@import '/styles/global-styles/index';

.container {
  display: flex;
  height: 26rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // gap: 1.2rem;
  align-self: stretch;

  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: $BDS-Category-recommend_press; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  background: $BDS-Category-recommend_hover; /*스크롤바 뒷 배경 색상*/
}
