@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.not-found {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-shrink: 0;
  width: 100%;
  height: 100vh;
  // 헤더랑 푸터 안보이게..
  background-color: $BDS-Grayscale-1;
}

.image {
  width: 20rem;
  height: 8.4rem;

  @include tablet {
    width: 34.3rem;
    height: 14.5rem;
  }
}

.mention-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.mention {
  color: $BDS-Grayscale-13;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 144%; /* 25.92px */
  letter-spacing: -0.004px;

  @include tablet {
    font-feature-settings: 'ss10' on;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 136%; /* 38.08px */
  }
}

.to-main {
  display: flex;
  text-decoration: none;
  padding: 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 28px;
  font-family: 'IBM Plex Sans KR';
  color: $BDS-Grayscale-10;
  background: linear-gradient(90deg, #ffe0ce 0%, #ffdaee 100%);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 144%; /* 25.92px */
  letter-spacing: -0.0004rem;
  
  &:hover {
    background: linear-gradient(90deg, #ffac7d 0%, #fe9ed2 100%);
  }
}
