.category {
  display: flex;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  background: var(--BDS-Category-tip_press);
  color: var(--BDS-Grayscale-1);
  font-feature-settings: 'ss10' on;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 138.5%; /* 18.005px */
  margin-bottom: 1.2rem;

  &.pink {
    background: var(--BDS-Category-recommend_press);
  }

  &.yellow {
    background: var(--BDS-Category-question_press);
  }

  &.red {
    background: var(--BDS-Category-cation_press);
  }

  &.blue {
    background: var(--BDS-Category-tip_press);
  }
  
  &.green {
    background: var(--BDS-Category-help_press);
  }
}
