@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/z-index';

.back-drop {
  position: fixed;
  inset: 0;
  z-index: $z-index-modal;
  background: rgba(0, 0, 0, 0.5);
}

.kebab-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--BDS-Grayscale-1, #fff);
  position: fixed;
  z-index: $z-index-modal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $BDS-Grayscale-3;
}

.kebab-content {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--BDS-Grayscale-6, #bfbfbf);
  color: var(--BDS-System-Error, var(--BDS-System-Error, #ff4d4f));

  border-radius: 12px 12px 0 0;
  /* BDS/Body 1/Highlight */
  font-family: 'IBM Plex Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.kebab-cancel {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--BDS-Grayscale-13, #000);

  /* BDS/Body 1/Highlight */
  font-family: 'IBM Plex Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
