@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/font.scss';

.tab {
  color: $BDS-Grayscale-7;
  font-family: 'IBM Plex Sans KR';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */

  &.focused {
    color: $BDS-Grayscale-13;
    padding-bottom: 1.1rem;
    border-bottom: 1px solid $BDS-Grayscale-13;
  }
}
