@import '/styles/global-styles/index';

.area {
  margin-top: 1rem;
  width: 89rem;
  section {
    width: fit-content;
    scrollbar-width: none;
    overflow: auto;
    max-width: 100vw;
    display: flex;
    gap: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

