@import '/styles/global-styles/index';

.container {
  &-default {
    display: flex;
    // width: 33.5rem;
    width: 100%;
    height: 12.8rem;
    padding: 1.2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.5rem;
    flex-shrink: 0;

    border-radius: 1.2rem;
    background: $BDS-Primary-2;

    @include tablet-and-desktop {
      width: 20rem;
      height: 12.8rem;
    }

    &:hover {
      background: $BDS-Primary-4;
    }
  }

  &-sidebar {
    display: flex;
    // width: 33.5rem;
    width: 100%;
    height: 12.8rem;
    padding: 1.2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.5rem;
    flex-shrink: 0;

    border-radius: 1.2rem;
    background: $BDS-Primary-2;

    &:hover {
      background: $BDS-Primary-4;
    }
  }
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}

.text {
  color: $BDS-Grayscale-10;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 144%;
  letter-spacing: -0.0004rem;
}
