@import '/styles/global-styles/index';

.feed {
  width: 100%;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @include tablet {
    max-width: 72.8rem;
  }

  @include desktop {
    max-width: 120.8rem;
  }
}

.order-container {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  color: var(--BDS-Grayscale-7, var(--BDS-Grayscale-7, #8c8c8c));
  font-feature-settings: 'ss10' on;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142%; /* 19.88px */
}

.search-mention {
  color: var(--BDS-Grayscale-13, #000);

  /* BDS/Heading 1 */
  font-family: 'IBM Plex Sans KR';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%; /* 29.92px */
}
