@import url('reset.css');
@import url('font.css');

:root {
  font-size: 62.5%;
  /* 1rem = 10px */
  --root-z-index: 1;
  --modal-z-index: 5;

  /*example*/
  /*--black: #000000;*/
  /*--linkbrary-primary-color: #6D6AFE;*/
  /*--linkbrary-red: #FF5B56;*/
  /*--the-julge-black: #111322;*/
  /*--gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);*/
  /*--fandom-k-gra-blue-to-pink: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);*/
  /*--zIndex-least-value: 1;*/
  /*--text-color-light-mode: #000000;*/
  /*--primary-purple-70: #8F00FF;*/
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: fit-content;
  overflow-x: auto;
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

#root {
  position: relative;
  z-index: var(--root-z-index);
}

#modal {
  position: fixed;
  z-index: var(--modal-z-index);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.background-clip-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
