@import 'reset';
@import 'font';
@import 'index';
//theme.css는 이후 지워집니다. 모듈변수 임포트로 바꿔주세요.

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: $max-width;
  min-height: 100vh;
  height: fit-content;
  // overflow-x: auto; 스크롤 두개 생겨서 주석처리함
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

#root {
  width: 100%;
  position: relative;
  z-index: $z-index-root; //TODO: 변수로바꾸기
}

#modal-layer {
  position: fixed;
  z-index: $z-index-modal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.background-clip-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
