.comment-box {
  margin-bottom: 8.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: start;
}

.comment-form {
  position: absolute;
  width: 90%;
  bottom: 2rem;
  display: flex;
  gap: 1.2rem;
  flex: 1 0 0;
  padding: 2rem 2rem 2rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 2.4px solid;
  border-image: var(--BDS-Primary-3);
  border-right: none;
  border-left: none;
  border-image-slice: 1;
  background: var(--BDS-Grayscale-1);
}

.comment-input {
  color: var(--BDS-Grayscale-13, var(--BDS-Grayscale-13));
  font-feature-settings: 'ss10' on;
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  line-height: 146.7%; /* 22.005px */
  outline: none;
  &::placeholder {
    color: var(--BDS-Grayscale-13);
  }
}

.comment-submit-button {
  display: flex;
  padding: 0.4rem 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  border-radius: 13px;
  background: var(--BDS-Primary-5);
  border: none;
  color: var(--BDS-Grayscale-1);
  text-align: center;
  font-feature-settings: 'ss10' on;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 138.5%; /* 18.005px */
}

@media (min-width: 768px) {
  .comment-form {
    width: 41.8rem;
  }
}
