@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.read-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2.4rem 3.2rem;
  width: 100%;
  height: 100vh;
  background-color: $BDS-Grayscale-1;
  overflow: auto;

  /* BDS Effect/Writing Modal */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

// 961px 부터 화면 width의 90%가 모달폭
@include tablet {
  .read-modal {
    width: 90%;
    height: 90vh;
    display: flex;
  }
}
