@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.read-modal {
  position: absolute;
  width: 90%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.read-header {
  display: flex;
  justify-content: right;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: $BDS-Grayscale-1;
}
// 헤더 영역 스타일이 read, write 모두에 적용되어서 분리했습니다

.main {
  background-color: $BDS-Grayscale-1;
  padding: 2.4rem;
}

// 961px 부터 화면 width의 70%가 모달폭
@include tablet {
  .read-modal {
    width: 70%;
  }

  .main {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
}
