@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: $BDS-Grayscale-1;
}

@include desktop {
  .main {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
}
