@import '/styles/global-styles/color-pallete';

.content {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.5rem;
  line-height: 160%; /* 24px */
  // 글 줄임설정
  // display: -webkit-box;
  // text-overflow: ellipsis;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
}

.comment-information-container {
  display: flex;
  align-items: flex-start;
  gap: 1.74rem;
  color: $BDS-Grayscale-8;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */
  margin-bottom: -0.8rem;
}

.reply {
  width: calc(100% - 4rem);
  margin-bottom: 8.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: start;
  margin-left: 4rem;
  margin-bottom: 0;
}
