@import '/styles/global-styles/index';

.overlay {
  position: fixed;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
// .modal {
//   position: absolute;
//   width: 90%;
//   top: 0;
//   bottom: 0;
//   overflow-y: auto;
// }

// .header {
//   display: flex;
//   justify-content: right;
// }

.body {
  position: relative;
  background-color: $BDS-Grayscale-1;
  padding: 2rem 2.4rem;
}

