.modal {
  position: absolute;
  inset: 0;
  background-color: var(--BDS-Grayscale-1);
  color: var(--BDS-Grayscale-14);
}

.title {
  display: inline-block;
  color: var(--BDS-Grayscale-8, var(--BDS-Grayscale-8, #595959));

  /* BDS/Label 2 */
  font-weight: 400;
  font-style: normal;
}

.content {
  color: var(--BDS-Secondary-Blue);
}

.button {
  color: var(--BDS-Grayscale-14);
}

.input {
  background-color: var(--BDS-Grayscale-1);
  border: solid 0.1px var(--BDS-Grayscale-14);
  color: var(--BDS-Grayscale-14);
}

.back-drop {
  background-color: var(--BDS-Grayscale-14);
  opacity: 0.5;
}
