@import '/styles/global-styles/index';

.container {
  width: 100%;
  @include tablet {
    max-width: 72.8rem;
  }

  @include desktop {
    max-width: 120.8rem;
  }
}

.cta-container {
  padding: 6rem 0;
}
