@import '/styles/global-styles/index';

.post-container {
  text-decoration: none;

  @include flex-column-start;

  // width: 100%;
  padding: 3.2rem;
  gap: 1.2rem;
  border-bottom: 1px solid $BDS-Grayscale-6;
  font-feature-settings: 'ss10' on;

  @include tablet {
    gap: 2rem;
  }

  @include desktop {
    // max-width: 1208px;
    gap: 2.4rem;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.main {
  &-default {
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;

    @include tablet {
      display: flex;
      gap: 10rem;
    }

    @include desktop {
      gap: 18rem;
    }
  }

  &-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    align-self: stretch;

    @include tablet-and-desktop {
      display: none;
    }
  }

  &-content-default {
    @include flex-column-start;

    @include tablet {
      gap: 3.2rem;
    }

    @include desktop {
      gap: 1.2rem;
    }
  }

  &-content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;
    align-self: stretch;
  }
}

.photo-container {
  display: block;
  position: relative;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;

  border-radius: 2.4rem;
  // background: #c4c4c4;
  overflow: hidden;

  @include tablet-and-desktop {
    width: 15rem;
    height: 15rem;
  }
}

.footer {
  @include flex-column-start;

  gap: 1.6rem;

  @include tablet {
    margin-top: 0.8rem;
  }
  @include desktop {
    margin-top: 1.2rem;
  }
}

.footer-content-gap {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.icon-box {
  @include flex-center;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.text-gray {
  color: $BDS-Grayscale-7;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 142%;
}

.text-black {
  color: $BDS-Grayscale-13;
}

.large {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 144%;
  letter-spacing: -0.0004rem;

  @include desktop {
    font-size: 2.4rem;
  }
}

.middle {
  font-size: 1.5rem;
  line-height: 160%;

  @include desktop {
    font-size: 1.6rem;
  }
}

.small {
  font-size: 1.2rem;
  line-height: 133%;
}
