@import '/styles/global-styles/color-pallete';

.force {
  color: $BDS-System-Error;
}

.input {
  display: flex;
  width: 20.6875rem;
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  justify-content: center;
  align-items: center;

  border: none;
  border-bottom: 1.6px solid $BDS-Grayscale-6;
  background: $BDS-Grayscale-1;

  &:focus {
    outline: none;
    border-bottom: 2.4px solid $BDS-Primary-3;
  }

  &::placeholder {
    color: $BDS-Grayscale-5;
  }
}
