@import '/styles/global-styles/color-pallete';

.title {
  display: inline-block;
  color: #000;
}

.postFooter {
  display: flex;
  align-items: flex-end;
  gap: 0.625rem;
  padding: 0 0 0 200px;
}

.input {
  background-color: #fff;
  border: solid 0.1px #000;
  color: #000;
}

