@import '/styles/global-styles/color-pallete';

.title {
  display: inline-block;
  color: #000;
}

.postHeader{
  display: flex;
  align-items: center;
  background-color: $BDS-Grayscale-1;
}

.postFooter {
  display: flex;
  align-items: flex-end;
  gap: 0.625rem;
  padding: 0 0 0 200px;
  background-color: $BDS-Grayscale-1;
}

.postBody {
  display: flex;
  width: 24.6875rem;
  padding: 2rem 1.75rem 2rem 2.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.input {
  background-color: #fff;
  border: solid 0.1px #000;
  color: #000;
}
