@import '/styles/global-styles/color-pallete';

.reply {
  margin-top: 3.2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
}

.profile-and-kebab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  align-self: stretch;
}

.content-like-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  color: $BDS-Grayscale-13;
  font-feature-settings: 'ss10' on;
  font-size: 1.5rem;
  line-height: 160%; /* 24px */
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  // 글 줄임설정
  // display: -webkit-box;
  // text-overflow: ellipsis;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
}

.reply-information-container {
  display: flex;
  align-items: flex-start;
  gap: 1.74rem;
  color: $BDS-Grayscale-7;
  font-feature-settings: 'ss10' on;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 142.9%; /* 20.006px */

  .alert {
    color: $BDS-Grayscale-7;
    font-feature-settings: 'ss10' on;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 142%; /* 19.88px */
  }
}
