@import '/styles/global-styles/index';

.content-list {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
}

.content-list::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.content-list::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: $BDS-Category-recommend_press; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.content-list::-webkit-scrollbar-track {
  background: $BDS-Category-recommend_hover; /*스크롤바 뒷 배경 색상*/
}
