@import '/styles/global-styles/color-pallete';
@import '/styles/global-styles/media-breakpoint';

.content {
  position: relative;
  .mention {
    color: var(--BDS-Grayscale-13, #000);
    font-feature-settings: 'ss10' on;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    /* BDS/Body 1/Normal */
    font-family: 'IBM Plex Sans KR';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--general-beta-08, 8px);
    color: var(--BDS-Grayscale-7, #8c8c8c);
    font-feature-settings: 'ss10' on;

    /* BDS/Label 2 */
    font-family: 'IBM Plex Sans KR';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 138%; /* 17.94px */
  }
}
